.card {
  max-width: 441px;
  min-width: 343px;
  max-height: 100%;
  left: 20px;
  top: 20px;
  background: var(--color-orange-2);
  border-radius: 8px;
  padding: 16px 24px;
}
.cardTitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: var(--color-grey-6);
}
.cardText {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-grey-5);
  margin-bottom: 16px;
}
.done .cardText {
  text-decoration: line-through;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.cardFooter {
  display: flex;
  justify-content: space-between;
}
.cardColorWrapper {
  display: flex;
}
.cardColor:not(:last-child) {
  margin-right: 8px;
}
.popoverWrapper {
  position: relative;
}
.wrapperButton {
  display: flex;
}
.cardButton:not(:last-child) {
  margin-right: 10px;
}
.cardColorWrapper {
  gap: 8px;
}
