.variant-primary {
  width: 73px;
  height: 32px;
  background: var(--color-grey-5);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
  transition: all 0.3s ease;
}
.variant-primary:hover {
  background-color: var(--color-black-2);
}
.variant-primary:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
  background: var(--color-grey-5);
}
.variant-primary:disabled {
  background-color: var(--color-grey-4);
}
.variant-danger {
  width: 73px;
  height: 32px;
  background: var(--color-red);
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--color-white);
  transition: all 0.3s ease;
}
.variant-danger:hover {
  background-color: var(--color-red-2);
}
.variant-danger:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
  background: var(--color-red);
}
.variant-danger:disabled {
  background-color: var(--color-grey-4);
}
.variant-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-grey-5);
  background-color: transparent;
  cursor: pointer;
  padding: 0px 3px;
  height: 24px;
  border-radius: 8px;
  transition: all 0.3s ease;
}
.variant-text:hover {
  color: var(--color-black-2);
}
.variant-text:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
  color: var(--color-grey-5);
}
.variant-text:disabled {
  color: var(--color-grey-4);
}
.variant-icon {
  cursor: pointer;
  position: relative;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}
.icon {
  position: absolute;
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
  fill: var(--color-grey-5);
}
.icon:hover {
  fill: var(--color-black-2);
}
.variant-icon:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
}
.variant-icon:focus .icon {
  fill: var(--color-grey-5);
}
.button-small {
  width: 20px;
  height: 20px;
}
.button-medium {
  width: 20px;
  height: 20px;
}
.button-large {
  width: 30px;
  height: 30px;
}
.has.Icon {
  margin-right: 8px;
}
.variant-dashed {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color-grey-5);
  background-color: transparent;
  cursor: pointer;
  width: 160px;
  height: 32px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 1px dashed var(--color-grey-5);
}
.variant-dashed:hover {
  color: var(--color-black-2);
  border: 1px dashed var(--color-black-2);
}
.variant-dashed:focus {
  box-shadow: 0 0 0 2px var(--color-blue);
  color: var(--color-grey-5);
  border: 1px dashed var(--color-grey-5);
}
.variant-dashed:disabled {
  color: var(--color-grey-4);
}
