.App {
  min-height: 100vh;
  padding: 24px;
  display: flex;
  flex-direction: column;
  max-width: calc(1286px + 40px);
  margin: 0 auto;
}
@media (min-width: 720px) {
  .App {
    padding: 40px;
  }
}
.open-popup {
  overflow-y: hidden;
}
.todoTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;
  color: var(--color-black-2);
}
@media (min-width: 720px) {
  .todoTitle {
    font-size: 32px;
  }
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.tagsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 24px;
}
@media (min-width: 720px) {
  .tagsList {
    flex-direction: column;
    margin-bottom: 40px;
    width: 200px;
  }
}
.main {
  display: flex;
  flex-direction: column;
}
@media (min-width: 720px) {
  .main {
    display: flex;
    flex-direction: row;
  }
}
.mainWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}
@media (min-width: 720px) {
  .mainWrapper {
    margin-bottom: 0px;
  }
}
.tag:not(:last-child) {
  margin-right: 24px;
}
@media (min-width: 720px) {
  .tag:not(:last-child) {
    margin-bottom: 24px;
    margin-right: 0px;
  }
}
.EditableButton {
  margin-bottom: 32px;
}
.todoList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  height: 100%;
}
@media (min-width: 720px) {
  .todoList {
    padding-left: 120px;
    justify-content: flex-start;
  }
}
.hide {
  display: none;
}
